.menu {
    z-index: 10;
    position: relative;
    background: transparent;
    height: 50px;
    width: 100%;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__social {
        width: 145px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            width: 28px;
        }
        a {
            width: 28px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                path {
                    fill: $active;
                }
            }
        }
    }
    &__name {
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
    }
    &__ul {
        display: flex;
        height: 100%;
        list-style-type: none;
        justify-content: space-between;
        width: 545px;
        li {
            position: relative;
            height: 100%;
            a {
                display: block;
                height: 100%;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 2px;
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: $active;
                }
                span {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
        }
    }
}

.fixed {
    transition: 0.5s all;
    position: fixed;
    top: 0;
    background: $second-color;
    border-bottom: 4px solid $third-color;
}