.wrapper {
    hr {
        display: block;
        width: 148px;
        margin: 0 auto;
        margin-top: 20px;
        color: $main-color;
        border: none;
        background-color: $main-color;
        height: 1px;
    }  
}